<% if active_scaffold_config.sortable.add_handle_column == :first %>
<td class='sortable-handle'>&nbsp;</td>
<% end %>
<%= render :super %>
<% if active_scaffold_config.sortable.add_handle_column == :last %>
<td class='sortable-handle'>&nbsp;</td>
<% end %>
